.weui-cell:before,.weui-btn:after{
    border:0 none !important;
    border-radius: 0px !important;
}
/* .container{
    padding: 0 20px;
} */
.head{
    width: 100%;
    background-color:#fff;
    position: fixed;
    z-index: 5;
    height: 8em;
    padding: 0 20px;
    box-sizing: border-box;
}
.searchScenic{
    width: 89%;
    display: flex;
    margin:1rem auto;
    text-align: center;
    border:1px solid #ccc;
    background-color: #fff;
    border-radius: 3px;
    position: fixed;
    box-shadow: 0 3px 10px rgb(239, 239, 239);
    z-index: 111;
}

.searchBtn{
  flex: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.searchBtn>i{
  padding-right: 0.5rem;
  font-size: 1.3rem;
}

.searchScenic svg{
    align-self: center
}

.fun{
    width: 100%;
    position: relative;
    background-color:#fff;
    z-index: 10;
    opacity: 1;
    padding-top:5rem;
}
#scenics .weui-btn{
    border-radius: 3px;
}
#scenics .filter{
   background-color: #fff;
   border:1px solid #ccc;
   color: grey;
}
.show-all{
    margin-left:20px;
    padding-bottom:2rem ;
}
.mianer{
    margin-left:20px;
    padding-top:8em; 
    padding-bottom: 2rem;
}

.text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.city-name{
    font-size: 1.8rem;
    font-family: '黑体';
    font-weight:400;
}
.see-more{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    margin-right: 10px;
}
.see-more>span{
    color: grey;
    position: relative;
}
.scenic-list{
    display: flex;
    width: 300%;
}
.scenic{
    width: 16%;
    margin-right:15px;

}
.scenic-img{
    width: 100%;

}
.scenic-img>a>img{
    width: 100%;
    height: 6.5rem;
    border-radius: 3px;
}
.scenics-name>a{
    color: black;
    font-weight: 600;
    font-size: 0.8rem;
    width: 100%;
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 10px;
}
.scenic-price{
    font-size: 0.5rem;
    color: #666;
}
.score{
    font-size: 0.7rem;
    color:grey;
}



/*选择房源和景点*/

.index-nav{
  width: 100%;
  height:auto;
  padding-top: 8rem;
  z-index: 1;
}

.index-nav-content{
  padding: 0 20px;
  height:100%;
}

.houseScene{
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.houseScene-frame{
  flex: 1;
  height:auto;
  box-shadow:0px 5px 10px #C9CECE;
  border-radius: 0 0 5px 5px;
}

.houseScene-frame:first-child{
  margin-right: 10px;
}

.houseScene-frame:last-child{
  margin-left: 10px;
}

.houseScene-pic{
  width:100%;
  height:4rem;
}
.houseScene-pic>img{
  width: 100%;
  height:100%;
  border-radius: 5px 5px 0 0;
}

.houseScene-title{
  width:100%;
  height:1.5rem;
  display: flex;
  align-items: center;

}

.houseScene-title>span{
  padding-left: 0.5rem;
}
