
.nav{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    padding:10px 20px;
}
.nav  .iconfont{
    font-size: 2rem;
    color:#fff;
}
.nav  .uncollection{
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    color:#f3749f
}
.nav .collection{
    font-size: 2rem;
    font-weight: 600;
    display: inline-block;
    content: "\e658";

}
.scenic-detail{
    padding-top: 30px;
    /* padding-bottom:5.5em;  */
    margin: 0 20px;

}
#scenic .scenic-name{
    padding: 30px 0;
    border-bottom:1px solid rgb(231, 231, 231);
}
.name>p{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 10px;
    display: inline-block;
}
.map{
    margin-left:20px;
}
.scenic-name .icon-map{
    font-size: 1.3rem;
    color:#3c9bc2;
}
.description{
    font-size: 0.8rem;
    /* color: grey; */
}
.address{
    margin-right: 10px;
    margin-top:2.5rem;
}
.intro{
    color:#ccc;
    font-size: 1.1rem;
    
}
.Watch,.open,.policy,.tips{
    padding: 20px 0;
    border-bottom:1px solid rgb(231, 231, 231);
}
.content{
    font-size: 1.2rem;
    font-family: "微软雅黑";
    padding: 10px 0;
    color: #555
}
.focus{
    display: -webkit-box !important;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:6;

    font-size: 0.8rem;
}
.focus-more{
    /* display: -webkit-box !important; */
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:6;
    font-size: 0.8rem;
}
.read-more{
    text-align: right;
    padding-top:10px;
}
.read-more>span{
    font-size: 0.8rem;
    color: lightblue
}
.open-time{
    padding: 20px 0;
}
.time{
    font-size: 0.8rem;
    /* color:grey; */
}


.slide {
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s cubic-bezier(0, 1, 0, 1) -.1s;
}
.animate {
    max-height: 9999px;
    transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
    transition-delay: 0s;
  }
.ticket,.price{
    font-size: 0.8rem;
}

.policy-title,.tips-title{
    font-size: 1rem;
    padding:10px 0;
    /* color: grey; */

}
.policy-content{
    font-size: 0.8rem;
    padding: 20px 0 ;
    /* color:grey; */
}
.scenic-tips{
    padding: 20px 0;
}

.small-tips{

    font-size: 0.8rem;
    padding: 5px 0;
    font-family:Tahoma, Geneva, sans-serif;
}
.tips-icon{
    margin-right:10px;
    color:#ed6262;
}
.nearby-hotel{
    padding-top: 20px;
    margin-left:20px;
}
.nearby-hotel .content{
    font-weight: 600;
}
.hotel-nearby-list{

    padding:20px 0;

}
.hotel-nearby{
    width: 200%;
}
.hotel-dec{
    width: 31%;
    display: inline-block;
    margin-right:0.7rem;
}
.nearby-hotel-img>img{
    width: 100%;
    height: auto;
}
.nearby-hotel-name{
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.nearby-hotel-price,.nearby-hotel-score{
    font-size: 0.8rem;
}





/* 底部 */
.scenic-footer .ticket-book{
    width: 100%;
    height: 6.5em;
    position: relative;
    bottom:0;
    border-top: 1px solid #cacaca;
    background-color: #fff;
}
.scenic-footer .book{
    padding: 1.2em;
    display: flex;
    justify-content: space-between;

}
.scenic-footer .price-up{
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.scenic-footer .up{
    font-size: 0.5rem;
}
.scenic-footer .each-people{
    margin-left: 10px;
    color: grey;
}
.scenic-footer .score{
    color: grey;
    font-size: 0.8rem;
}
.scenic-footer .check-ticket{
    width: 9em;
    height: 4em;
    background-color: #FF5A60;
    border:1px solid #FF5A60;
    border-radius: 3px;
    color: #fff;
}
