#hotel_detail .box1 {
    position: relative;
    width: 400%;
}
#hotel_detail .hotelIcon{
    position: absolute;
    width:100%;
    padding:10px 20px;
    box-sizing: border-box;
    color:white;
    top:0px;
    display: flex;
    justify-content: space-between;
    z-index: 50000;
}
#hotel_detail .hotelIcon .iconfont{
    font-size: 2rem;
    font-weight: 600;
}
#hotel_detail .hotelEquipment .big-icon{
    font-size:2rem;
}
#hotel_detail .previewer-demo-img{
    width: 25%;
    height:15rem;
    display:inline-block;
}
.container-deail{
    padding:20px;
}
#hotel_detail .choose{
    padding:0.5rem 1rem;
    border-radius: 3px;
    font-size: 1.2rem;
}
.row-deail{
    position: relative;
    background:white;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    width: 100%;
    align-items: center;
    box-shadow: 0 -5px 10px rgba(100,100,100,0.1);
}
#hotel_detail .texthidden{
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#hotel_detail .divider:after{
    content:"";
    display: block;
    width:100%;
    /* height:1px; */
    padding-bottom: 1px;
    margin-top:2rem;
    background:rgba(0,0,0,0.2);
}
#hotel_detail .hotelIntro > .big{
    margin:1.5rem 0;
}
#hotel_detail .hotelPhone{
    margin-top:1rem;
}
#hotel_detail .intro-deail-hide{
    display: -webkit-box !important;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
    word-break: break-all;
}
.readMore-deail{
    color:lightblue;
    text-align: right;
    padding:0.8rem;
}
.hotelEquipment p{
    margin:1.5rem 0;
}
#hotel_detail ul li{
    float: left;
    list-style: none;
    display: flex;
    align-items: center
}
#hotel_detail .nearAttr-detail{
    margin:2rem 0;
}
#hotel_detail .nearAttr-scroll{
    margin-bottom:7rem;
    padding-left:1rem;
    box-sizing: border-box;
}
#hotel_detail .nearAttr-box{
    width:200%;
}
#hotel_detail .nearAttr-pic{
    width:32%;
    margin-right:0.5rem;
    display: inline-block;
}
#hotel_detail .nearAttr-img{
    width:100%;
}
